<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of (order | async)" (click)="viewOrder(item)">
      <ion-thumbnail slot="start">
        <ion-img [src]=""></ion-img>
      </ion-thumbnail>
      <!-- <ion-label>{{item.url}}</ion-label> -->
      <ion-label>{{item.id}}</ion-label>
      <ion-label>${{order.amount}}</ion-label>
      <ion-label>{{quantity}}</ion-label>
  
    </ion-item>
  </ion-list>

</ion-content>
