<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product List
    </ion-title>
  </ion-toolbar>
</ion-header>

Want to order something?

<ion-item>
  <ion-button slot="start" *ngIf="!hideMe" (click)="logout()">Logout</ion-button>
  <ion-button slot="end" *ngIf="hideMe" (click)="signIn()" >Signin</ion-button>
</ion-item>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button *ngIf="showme" (click)="openAddProductPage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Product List</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let item of (menu | async)" (click)="viewItem(item)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
      <ion-label>${{item.price}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
